@charset "utf-8";
@import '_public';
.inner {
    width: 1090px;
    margin: 0 auto;
}

.inner-big {
    width: 1130px;
    margin: 0 auto;
    overflow: hidden;
}

#header {
    #red:hover {
        color: #ed155b;
    }
}

#goodsname {
    // display: none;
    height: 0;
    overflow: hidden;
    width: 1190px;
    position: absolute;
    background: white;
    left: 130px;
    z-index: 18;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2), inset 0 0 1px 0 rgba(255, 255, 255, 1);
    #imgabout {
        display: flex;
        flex-direction: column;
        width: 254px;
        margin: 10px;
        float: left;
        a {
            width: 254px;
            height: 134px;
            overflow: hidden;
            margin-bottom: 10px;
            display: block;
            img {
                width: 254px;
                height: 134px;
                opacity: .8;
                &:hover {
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
        }
    }
    #detile {
        width: 800px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        dl {
            display: flex;
            width: 256px;
            float: left;
            height: 123px;
            overflow: hidden;
            border: dotted #e5e5e5;
            border-width: 0 0 1px 1px;
            margin-left: -1px;
            // padding: 10px 0 22px 7px;
            flex-wrap: wrap;
            dt {
                line-height: 30px;
                height: 30px;
                overflow: hidden;
                // padding-left: 40px;
                margin-bottom: 12px;
                width: 250px;
                a {
                    font-size: 15px;
                    font-weight: 700;
                    color: #333;
                    height: 30px;
                }
            }
            dd {
                // padding: 0 12px;
                a {
                    color: #6c6c6c;
                    height: 30px;
                    padding: 0 10px;
                }
            }
        }
    }
}

#myjum {
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 1;
    border: 1px solid #ddd;
    width: 110px;
    border: 0;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .2);
}

//头部
#header {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    position: relative;
    z-index: 5;
    .headerTop {
        width: 100%;
        height: 28px;
        border-bottom: 1px solid #e5e5e5;
        background: #f2f2f2;
        position: relative;
        zoom: 1;
        z-index: 10;
        .headertopbox {
            color: #6c6c6c;
            height: 28px;
            background: #f2f2f2;
            line-height: 28px;
            display: flex;
            justify-content: space-between;
            .headerTopLeft {
                display: flex;
                li {
                    margin-right: 20px;
                    a {
                        color: #6c6c6c;
                        text-decoration: none;
                    }
                }
            }
            .headerTopRight {
                display: flex;
                position: relative;
                li {
                    height: 28px;
                    margin-left: 14px;
                    position: relative;
                    z-index: 9;
                    .icon-favourite {
                        width: 12px;
                        height: 11px;
                        float: left;
                        margin: 11px 2px 0 0;
                        background: url(http://a2.jmstatic.com/6af6d8c6b9b5ec16/header_sprites1.png) no-repeat;
                    }
                    .icon-mobile {
                        width: 10px;
                        height: 14px;
                        background: url(http://a2.jmstatic.com/6af6d8c6b9b5ec16/header_sprites1.png) no-repeat;
                        background-position: 0 -21px;
                        float: left;
                        margin: 8px 5px 0 0;
                    }
                    .line {
                        width: 1px;
                        height: 14px;
                        float: left;
                        margin: 7px 12px 0 0;
                        background: #ddd;
                        overflow: hidden;
                        padding: 0;
                    }
                    .lineright {
                        width: 1px;
                        height: 14px;
                        float: right;
                        margin: 7px 0 0 12px;
                        background: #ddd;
                        overflow: hidden;
                        padding: 0;
                    }
                    a {
                        color: #6c6c6c;
                        text-decoration: none;
                    }
                    .icon-down {
                        transition: .5s;
                        position: absolute;
                        top: 13px;
                        right: 6px;
                        overflow: hidden;
                        width: 6px;
                        height: 3px;
                        background: url(http://a2.jmstatic.com/04418ac031fb4e55/header_newicon1.png) no-repeat;
                        background-position: 0 0;
                    }
                }
            }
            .more:hover {
                box-shadow: 1px -3px 5px rgba(0, 0, 0, .2);
                background: #fff;
                position: relative;
            }
            .more:hover #myjum {
                height: 268px;
                transition: .5s;
            }
            .more:hover .icon-down {
                transform: rotate(180deg);
                transition: .5s;
            }
            .more {
                padding: 0 18px;
                position: relative;
            }
        }
    }
}

//中间
.main-top {
    margin-top: 30px;
}

.itemlist {
    list-style: none;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.itemlist>.item {
    border: 1px solid black;
    margin: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.itemlist>.item>.p-title {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itemlist>.item>.same {
    padding-top: 25px;
}

.itemlist>.item>div {
    margin: 10px;
}

.cart_header_box {
    border-bottom: 2px solid #e5e5e5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    .cart_header {
        width: 960px;
        margin: 0 auto;
        .logo_box {
            float: left;
            .logo {
                width: 130px;
                overflow: hidden;
                float: left;
            }
            .text {
                float: left;
                margin-top: 9px;
                margin-left: 5px;
                font-weight: normal;
                .phone {
                    font-size: 16px;
                }
                .time {
                    color: grey;
                }
            }
        }
        .order_path {
            float: right;
            width: 377px;
            height: 48px;
        }
        .order_path_1 {
            background: url(http://f0.jmstatic.com/static_cart/dist/20191009_1/images/order_path.png) no-repeat;
            background-position: -2px -2px;
        }
        .order_path_2 {
            background: url(http://f0.jmstatic.com/static_cart/dist/20191009_1/images/order_path.png) no-repeat;
            background-position: -2px -54px;
        }
        .order_path_3 {
            background: url(http://f0.jmstatic.com/static_cart/dist/20191009_1/images/order_path.png) no-repeat;
            background-position: -2px -106px;
        }
        .order_path_4 {
            background: url(http://f0.jmstatic.com/static_cart/dist/20191009_1/images/order_path.png) no-repeat;
            background-position: -2px -158px;
        }
    }
}

//底部
.footer {
    overflow: hidden;
    border-top: 1px solid #ccc;
    background: #fff;
    position: relative;
    bottom: -1px;
    .footer-top {
        .inner {
            padding: 30px 0 15px 0;
            border-bottom: 1px solid #ccc;
            width: 1090px;
            margin: 0 auto;
            overflow: hidden;
            display: flex;
            justify-content: space-around;
            a {
                width: 158px;
                height: 140px;
                color: #999;
                font-size: 14px;
                display: block;
                float: left;
                line-height: 18px;
                overflow: hidden;
                text-align: center;
                text-decoration: none;
                .first {
                    background-image: url(http://a1.jmstatic.com/a80588af4bfc3be4/footer_0901.jpg);
                    width: 63px;
                    height: 63px;
                    display: block;
                    overflow: hidden;
                    margin: 0 auto 20px;
                    cursor: pointer;
                }
                .seci {
                    color: #333;
                    font-size: 16px;
                    height: 24px;
                    line-height: 24px;
                    overflow: hidden;
                    display: block;
                    cursor: pointer;
                }
            }
            .two {
                .first {
                    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
                    background-position: -64px 0;
                }
            }
            .three {
                .first {
                    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
                    background-position: -128px 0;
                }
            }
            .four {
                .first {
                    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
                    background-position: -253px 0;
                }
            }
            .five {
                .first {
                    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
                    background-position: -316px 0;
                }
            }
            .six {
                .first {
                    background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
                    background-position: -379px 0;
                }
            }
        }
    }
    .footer-sec {
        .inner {
            display: flex;
            justify-content: space-between;
            height: auto;
            padding-top: 30px;
            width: 1090px;
            margin: 0 auto;
            overflow: hidden;
            ul {
                width: 145px;
                height: auto;
                padding-left: 16px;
                float: left;
                zoom: 1;
                overflow: hidden;
                li:nth-child(1) {
                    color: #666;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    overflow: hidden;
                }
                li {
                    font-size: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    a {
                        height: 22px;
                        line-height: 22px;
                        color: #666;
                        display: block;
                        transition: all 0.8s linear;
                        &:hover {
                            color: #ea1d5d;
                            transform: translateX(12px);
                            transition: all 0.8s linear;
                            text-decoration: none;
                        }
                    }
                }
            }
            div {
                display: flex;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li {
                        font-size: 12px;
                        white-space: nowrap;
                        overflow: hidden;
                        color: #666;
                    }
                    .left {
                        background: url(http://a5.jmstatic.com/fa73c812fb960875/header_corn_new_v2.png) 0 -423px no-repeat;
                        width: 78px;
                        height: 78px;
                        display: inline-block;
                        overflow: hidden;
                        margin-left: 3px;
                    }
                    .right {
                        background-image: url(http://a3.jmstatic.com/81b63beae3ad62e0/jumei_weixin_footer.png);
                        background-position: 0 0;
                        width: 78px;
                        height: 78px;
                        display: inline-block;
                        overflow: hidden;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
    .footer-center {
        display: flex;
        justify-content: center;
        height: 95px;
        background: url(http://a1.jmstatic.com/07c1f8519c836ade/footer_dy.jpg) center top no-repeat;
    }
    .footer-secl {
        height: 48px;
        line-height: 48px;
        overflow: hidden;
        font-size: 12px;
        color: #fff;
        background: url(http://a1.jmstatic.com/b8eb8e59f67968ee/footer_btm02_bg.jpg) center top repeat-x;
        a {
            color: #fff;
            padding-right: 12px;
            height: 48px;
            display: inline-block;
        }
    }
    .footer-last {
        background: url(http://a3.jmstatic.com/9fab7638c2b22895/newindex_footer_bg.png) #404040 center top repeat-x;
        line-height: 20px;
        color: #ccc;
        p:nth-child(1) {
            padding: 14px 0 18px;
            line-height: 23px;
            a {
                color: #ccc;
            }
        }
        p:nth-child(2) {
            a {
                width: 126px;
                height: 50px;
                overflow: hidden;
                display: inline-block;
                margin-right: 8px;
                background: url(http://a4.jmstatic.com/a6195c982dae0cec/footer_btm_icon.png) no-repeat;
            }
            a:nth-child(2) {
                background-position: -126px 0;
            }
            a:nth-child(3) {
                background-position: -252px 0;
            }
            a:nth-child(4) {
                background-position: -378px 0;
            }
            a:nth-child(5) {
                background-position: -504px 0;
            }
            a:nth-child(6) {
                width: 55px;
                height: 50px;
                background: url(http://f0.jmstatic.com/btstatic/pc_static/bz.jpg) no-repeat;
                display: inline-block;
            }
        }
    }
}